.btn_succ{background: #208D8E;
    color: #fff;
}
.loginMenu ul li a{
     padding:  5px;
margin: 0 5px;
padding: 10px;
    margin: 0 5px;
    border-radius: 6px;
}
.logo h2{
     color: #06846F;
      background-image:-webkit-linear-gradient(0deg, #06846fcf 13%, #54BEE8 100%);
       background-clip: text;
        -webkit-background-clip: text;
         text-fill-color: transparent; 
         -webkit-text-fill-color: transparent;
          font-size: 24px;
        
}