@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Iran-Yekan";
  src: url("../assets/fonts/Yekan.ttf"),url("../assets/fonts/Yekan.eot"),
  url("../assets/fonts/Yekan.woff"),url("../assets/fonts/Yekan.woff2");
}
body,*:not(i){
  font-family: "Iran-Yekan";
}
[type='text']:focus, input:where(:not([type])):focus,
 [type='email']:focus, [type='url']:focus, [type='password']:focus, 
 [type='number']:focus, [type='date']:focus, [type='datetime-local']:focus,
  [type='month']:focus, [type='search']:focus, [type='tel']:focus, [type='time']:focus,
   [type='week']:focus, [multiple]:focus, textarea:focus,
    select:focus{
      border-color: #47b2b3; 
         --tw-ring-color: #47b2b3;
        }
        [type='checkbox']:checked:hover, [type='checkbox']:checked:focus,
         [type='radio']:checked:hover, [type='radio']:checked:focus,
         [type='checkbox']:checked, [type='radio']:checked {
          border-color: transparent;
          background-color: #208d8e;
          border-color: #47b2b3; 
         --tw-ring-color: #47b2b3;
      }
      [type='checkbox']:focus, [type='radio']:focus{
        border-color: #47b2b3; 
         --tw-ring-color: #47b2b3;
      }

      .backColor::before{
        content: '';
        position: fixed;
        width: 150%;
        height: 61%;
        bottom: -26%;
        right: -18%;
        background: rgb(84,190,232);
        background: linear-gradient(90deg, rgba(84,190,232,1) 1%, rgba(6,132,111,1) 56%);
        transform: rotate(-10deg);
    }
    .card{
        box-shadow: 0px 0px 3px #32325d54;
        padding: 24px;
        border-radius: 20px;
        background-color: #fff;;
    }
    .text-white{color:#fff}
